	
	<div style="width: 800px; margin: auto; clear: left;">
  <br>
  <div style="float: left; width: 100px;"><a href="https://twitter.com/#!/jrhicks"><img style="width: 75px; border: 0px;" src="https://si1.twimg.com/profile_images/1322552084/dinghy_captain_reasonably_small.jpg" style="float: left;"></a></div>
	<div style="float: left; width: 500px;">After months of worsening conditions with ineffective treatments, my beloved sister is curing her Sarcoidosis thanks to a plant-strong diet.
  <br>
  <a href="https://twitter.com/jrhicks">@jrhicks</a>
  </div>
  </p>
  </p>
  
  
    <span style="float: right;">Brought to you by <a href="http://mailyourcongress.com">MailYourCongress.com</a></span>
	</div>
</body>

</html>