<%=erb :header%>

    function initialize() {
      var myOptions = {	zoom:4,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        center: new google.maps.LatLng(34.828556, -92.401389)    
      }
      map = new google.maps.Map(document.getElementById("map"), myOptions);
      loadPoints();
   };
</script>

<body style="margin: 0px; padding: 0px;" onLoad="initialize();">
	
	<div style="width: 100%; text-align: center;" id="wrapper">
		<h1>Forks Over Knives - Nearest Theater</h1>
	</div>

  <div style="width: 790px; margin: auto;">
  <p style="text-algin: center;"><a href="http://forksoverknives.com">Forks Over Knives</a> isn't in every city yet.  I created this nearest theater locator to help those of us who are contimplating a mini road trip.</p>
  </div>
  
  <div style="background-color: #EEE; width: 100%; border: 1px solid #CCC; padding: 1em; margin-bottom: 2em;">
	<div style="width: 100%; text-align: center;">
		<form action="search" style="padding: 0; margin: 0;">
			<b>Find Nearest Theater: </b><input type="text"value="Enter Your Address" name="address" size="50" onfocus="this.value='';"> <input type="submit" value="Go">
		</form>
	</div>
  </div>	
	<div id="map" style="width:780px; height: 375px; margin: auto;"></div>

<%=erb :footer%>